@model Aulas.Models.Cursos

@{
    ViewData["Title"] = "Adicionar Curso";
}

<h1>Adicionar Curso</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        @* este objeto irá levar os conteúdos do formulário
            para o SERVIDOR
            - o atributo 'method' define como os dados são enviados
            - o atributo 'enctype' define que vamos enviar, também, ficheiros
        *@
        <form asp-action="Create" 
              method="post" 
              enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Logotipo" class="control-label"></label>
                @* File Upload
                    - não esquecer definir:
                        - 'accept'' para ajudar os utilizadores a escolher o tipo certo de ficheiro
                        - 'name' para acederem ao ficheiro no Servidor
                *@
                <input type="file" name="ImagemLogo" accept=".png,.jpg,.jpeg" class="form-control" />
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Regressar à listagem dos Cursos</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
